.contact{
    height: 800px;
    margin-top: 50px;
}
.contact h2{
    color:#0c3c53;
    text-align: center;
}
.contact .cntc-title p{
    font-size: 18px;
    color: gray;
    text-align: center;
    margin-bottom: 40px;
    
}

.contact .col-5{
    padding: 30px;
    max-height: 600px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.contact .col-7{
    padding: 30px;
    margin-left: 20px;
    width: 55%;
    height: 600px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.form-row{
    display: flex;
    justify-content: space-between;
}
.form-row .col-6{
    width: 49%;

}

.form-group{
    margin-top:20px
    
}
.form-message{
    margin-top:20px;
    height: 250px;
}
.form-message input{
    
    height: 200px;
}

.flabel{
    margin-bottom: 10px;
}
.form-btn{
    display: flex;
    justify-content: center;
}
.form-btn button{
    margin-top: 20px;
    color: white;
    padding: 8px 19px;
    background-color: #00a6eb ;
    border: 1px solid  #00a6eb ;
    border-radius: 30px;
}
.form-btn button:hover{
    border: 1px solid  #00a6eb ;
    background-color: white;
    color: #00a6eb ;
}

.info , .location ,.call{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.contact .col-5 i{
    font-size: 20px;
    color: #00a6eb;
}
.cntctsub{
    margin-left: 22px;
}

.cntctsub h4{
    color: #0c3c53;
}
.cntctsub p{
    color: #0578a9;
}

.map{
    max-height: 250px;
    overflow: hidden;
}

@media screen and (max-width: 425px){
    .contact{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact .row {
        align-items: center;
        justify-content: center;
    }
    .contact .row .col-5 {
        margin-bottom: 10px;
        width: 80%;
    }
    .contact .row .col-7{
        margin-bottom: 10px;
        width: 90%;
    }
}